**/mongo-data-4.4/

**/.github
**/.git
**/.gitignore

**/node_modules/

**/dist/

**/.eslintignore
**/.eslintrc
**/.prettierignore
**/.prettierrc

**/Dockerfile
**/.dockerignore

**/README.md
**/Readme.md

**/test/