.h1 {
  fond-wight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
}

.h2 {
  fond-wight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

.h3 {
  fond-wight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}
